.ghostbar {
  height: 100%;
  padding-left: 3%;
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ghostbarImg {
  height: 80%;
  max-width: 100%;
}

.ghostbarLinks {
  display: flex;
  flex-direction: row;
  margin-right: 4%;
}