:root {
  /*
    by defining the sizes of toolbar in a var,
    can do calcuations with them later
  */
  --toolbar-height: 64px;
}

.layoutGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--toolbar-height) auto;
  grid-template-areas: 
    "toolbar"
    "main";
}

.layoutToolbar {
  grid-area: toolbar;
  z-index: 3;
}

.layoutMain {
  grid-area: main;
  position: relative;
  top: calc(-1 * var(--toolbar-height));
  min-height: calc(100vh - var(--toolbar-height));
}

