:root {
  /*
    by defining the sizes of toolbar and side menu in a var,
    can do calcuations with them later
  */
  --toolbar-height: 64px;
  --side-menu-width: 268px;
}

.blogGrid {
  display: grid;
  grid-template-columns: auto var(--side-menu-width);
  grid-template-rows: var(--toolbar-height) auto;
  grid-template-areas: 
    "toolbar  toolbar"
    "main     sideMenu";
}

.blogToolbar {
  grid-area: toolbar;
  background-color: orange;
}

.blogSideMenu {
  grid-area: sideMenu;
  background-color: blueviolet;
}

.blogMain {
  grid-area: main;
  background-color: grey;
  min-height: calc(100vh - var(--toolbar-height));
}

